@model dynamic

@{
    ViewBag.Title = "Create";
    Layout =  "~/Views/Shared/_Layout.cshtml";
}
<h2>Create a poll</h2>
<form>
    <div class="form-group">
        <label for="pollOption">Poll Options</label>
        <input type="text" class="form-control" id="pollOption" placeholder="Enter Option Name">
    </div>
    <div class="form-group">
        <label for="winningOptions">How many winning options can there be?</label>
        <input type="number" class="form-control" id="winningOptions" placeholder="Enter number of winning options here">
    </div>
    <div class="form-group">
        <label for="pollLength">When should the poll end?</label>
        <input type="date" class="form-control" id="pollLength" placeholder="Enter the date here">
    </div>
    <div class="form-group">
        <label for="voterEmail">Enter the email addresses of all the people who get to vote</label>
        <input type="email" class="form-control" id="voterEmail" placeholder="Enter voter email">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Do you want to be included as a voter?
        </label>
    </div>
    <div class="form-group">
        <label for="exampleInputFile">Or you can upload a file with a list of emails</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">expects textfile with email addreses on different lines</p>
    </div>
    <div class="form-group">
        <label for="message">Optional message to be included in the email sent to voters</label>
        <textarea class="form-control" id="message" placeholder="Enter message here" ></textarea>
    </div>
    <div class="form-group">
        <label for="yourEmail">Your Email Address</label>
        <input type="email" class="form-control" id="yourEmail" placeholder="Enter your email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password">
    </div>
    <div class="form-group">
        <label for="confirmPassword">Password Confirmation</label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm your password">
    </div>
    <a role="button" href="@Url.Action("Index")" class="btn btn-default">Submit</a>
</form>