@model dynamic

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Polls</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="@Url.Action("Index", new { id = 1 })">Which Restaurant do we like?</a>
            </td>
            <td>
                In Progress
            </td>
            <td>
                Delete
            </td>
        </tr>
        <tr>
            <td>
                <a href="@Url.Action("Index",new {id = 2})">What 3 things do we want to do on Friday</a>
            </td>
            <td>
                In Progress
            </td>
            <td>
                Delete
            </td>
        </tr>
        <tr class="success">
            <td>
                <a href="@Url.Action("Index",new {id = 3})">Dublin South–East 2011</a>
            </td>
            <td>
                Finished
            </td>
            <td>
                Delete
            </td>
        </tr>
    </tbody>
</table>
<a class="btn btn-primary" href="@Url.Action("Create","Poll")" role="button">Create new Poll</a>