@model dynamic

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dublin South–East 2011 Results</h2>
<h3>Winners</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Candidate</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>1</td>
            <td>Ruairi Quinn</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Lucinda Creighton</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Eoghan Murphy</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Kevin Humphreys</td>
        </tr>
    </tbody>
</table>

<h3>Results Breakdown</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="14">2011 general election: Dublin South–East</th>
        </tr>
        <tr>
            <th colspan="2">Party</th>
            <th>Candidate</th>
            <th>&nbsp;% 1st Pref</th>
            <th>Count 1</th>
            <th>Count 2</th>
            <th>Count 3</th>
            <th>Count 4</th>
            <th>Count 5</th>
            <th>Count 6</th>
            <th>Count 7</th>
            <th>Count 8</th>
            <th>Count 9</th>
            <th>Count 10</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th></th>
            <td>Labour Party</td>
            <td>Ruairi Quinn</td>
            <td>15.5</td>
            <td>5,407</td>
            <td>5,562</td>
            <td>5,800</td>
            <td>6,147</td>
            <td>6,600</td>
            <td>7,555</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th></th>
            <td>Fine Gael</td>
            <td>Lucinda Creighton</td>
            <td>19.0</td>
            <td>6,619</td>
            <td>6,694</td>
            <td>6,801</td>
            <td>6,855</td>
            <td>6,969</td>
            <td>7,428</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th></th>
            <td>Fine Gael</td>
            <td>Eoghan Murphy</td>
            <td>16.6</td>
            <td>5,783</td>
            <td>5,843</td>
            <td>5,891</td>
            <td>5,938</td>
            <td>6,136</td>
            <td>6,534</td>
            <td>6,636</td>
            <td>6,915</td>
            <td>8,356</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th></th>
            <td>Labour Party</td>
            <td>Kevin Humphreys</td>
            <td>9.9</td>
            <td>3,450</td>
            <td>3,568</td>
            <td>3,764</td>
            <td>4,059</td>
            <td>4,294</td>
            <td>4,674</td>
            <td>5,019</td>
            <td>5,057</td>
            <td>5,894</td>
            <td>6,421</td>
        </tr>
        <tr>
            <th></th>
            <td>Fianna Fáil</td>
            <td>Chris Andrews</td>
            <td>11.2</td>
            <td>3,922</td>
            <td>3,981</td>
            <td>4,059</td>
            <td>4,160</td>
            <td>4,248</td>
            <td>4,498</td>
            <td>4,545</td>
            <td>4,594</td>
            <td>4,950</td>
            <td>5,193</td>
        </tr>
        <tr>
            <th></th>
            <td>Independent</td>
            <td>Paul Sommerville</td>
            <td>6.7</td>
            <td>2,343</td>
            <td>2,492</td>
            <td>2,621</td>
            <td>2,815</td>
            <td>3,196</td>
            <td>3,457</td>
            <td>3,534</td>
            <td>3,566</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th></th>
            <td>Green Party</td>
            <td>John Gormley</td>
            <td>6.8</td>
            <td>2,370</td>
            <td>2,435</td>
            <td>2,547</td>
            <td>2,659</td>
            <td>2,908</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th></th>
            <td>Independent</td>
            <td>Dylan Haskins</td>
            <td>4.0</td>
            <td>1,383</td>
            <td>1,492</td>
            <td>1,754</td>
            <td>1,928</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th></th>
            <td>Sinn Féin</td>
            <td>Ruadhán Mac Aodháin</td>
            <td>3.6</td>
            <td>1,272</td>
            <td>1,405</td>
            <td>1,549</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th></th>
            <td>Independent</td>
            <td>Gerard Mannix Flynn</td>
            <td>3.6</td>
            <td>1,248</td>
            <td>1,403</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th></th>
            <td>People Before Profit</td>
            <td>Annette Mooney</td>
            <td>1.8</td>
            <td>626</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th></th>
            <td>Independent</td>
            <td>Hugh Sheehy</td>
            <td>0.6</td>
            <td>195</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th></th>
            <td>Independent</td>
            <td>James Coyle</td>
            <td>0.5</td>
            <td>164</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th></th>
            <td>Independent</td>
            <td>Noel Watson</td>
            <td>0.3</td>
            <td>89</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th></th>
            <td>Independent</td>
            <td>John Keigher</td>
            <td>0.1</td>
            <td>27</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th></th>
            <td>Fís Nua</td>
            <td>Peadar Ó Ceallaigh</td>
            <td>0.1</td>
            <td>18</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="14">Electorate: 58,217 &nbsp; Valid: 34,919 &nbsp; Spoilt: 327 (0.9%) &nbsp; Quota: 6,984 &nbsp; Turnout: 35,246 (60.5%)</td>
        </tr>
    </tbody>
</table>
<a class="btn btn-primary" href="#">Download Vote Data</a>
<p> Vote data can be used to perform an independent count to verify the results</p>