@model dynamic

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AboveContainer
{
    <div class="jumbotron">
        <div class="container">
            <h1>Web Poll</h1>
            <p>Create your own simple, secure and transparent online poll in minutes! Just click the button below to get started</p>
            <p><a class="btn btn-primary btn-lg" href="@Url.Action("Create","Poll")" role="button">Create your own poll &raquo;</a></p>
        </div>
    </div>
}

    <div class="row">
        <div class="col-md-4">
            <h2>Democratic</h2>
            <p>Web Poll was created to showcase the ideal form of group decision making. We're hoping that you will be able to see the benefits to our polling system and demand a similar system for your government </p>
            <p>
                <a class="btn btn-default" href="#" role="button">Read More &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Open Source</h2>
            <p>Wondering how it works? Want to help improve it? Well you are in luck because not only is Web Poll free but it's also completely open source, you can verify how it works and that it works and you can set up your own version</p>
            <p><a class="btn btn-default" target="_blank" href="https://github.com/EvaKnievel/WebPoll" role="button">View Source &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Transparent</h2>
            <p>Web Poll makes sure that your poll, we give every voter a unique ID that only they know they have and when the poll is complete they can verify that their vote was counted correctly  </p>
            <p><a class="btn btn-default" href="#" role="button">Read More &raquo;</a></p>
        </div>
    </div>
